body {
  background-color: #eee;
  font-size: 16px;
  font-family: 'Europa', sans-serif;
}

.header {
  font-size: 3em;
  margin-top: 200px;
  min-height: 210px;
  display: flex;
  align-items: center;
  font-family: 'Turquoise', serif;
  font-weight: 700;
}

.container {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
